body {
    font-family: 'Roboto', sans-serif;
    background-color: #1f2937;
}

ul {
    list-style: none;
}

li {
    display:inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}

.header {
    display: flex;
    margin: 0 20%;
    justify-content: space-between;
}

.nav {
    display: flex;
}

.links {
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin: auto;
}

.logo img {
    width: 10vh;
}

.MainContainer {
    display: flex;
    justify-content: space-between;
    margin: 120px 20%;
}

.MainContainer h1 {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;

}

.MainContainer h4 {
    font-weight: 400;
    font-size: 18px;
    color: #E5E7EB;

}

.CTAright {
    display: flex;
    flex-wrap: wrap;
    max-width: 50vh;
    align-items: center
}

.CTAright img {
    max-width: 100%;
}

.CTAleft {
    display: flex;
    flex-direction: column;
    width: 50vh;
}

.signup {
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 4px;
    padding: 6px 12px;
    border: none;
    width: 100px;
}

/* --------------MID SECTION ------------------*/

.mid {
    background-color: white;
    padding: 40px 0;
}

.mid h2 {
    color: #1f2937;
    font-size: 32px;
    font-weight: bolder;
    text-align: center;
    margin: 0;
    padding-bottom: 40px;
}

.carousell {
    justify-content: center;
    gap: 140px;
    display: flex;
}
.card {
    display: flex;
    flex-direction: column;
    width: 120px;
    font-size: 14px;
    font-weight: 300;
    text-align: justify;
    word-spacing:-1px;
}
.card img {
    width: 120px;
    height: 120px;
    border: 1px solid #3882f6;
    border-radius: 10px;
}